extends layout

block body
    h2 Это контент главной страницы
    table
        thead
            tr
                each key in titleNames
                    td #{key}
        each pr in products
            tbody
                tr
                    each el, j in pr
                        td #{el}
