doctype html
html(lang="zxx")
    head
        title Главная страница
        link(rel="stylesheet" href="style.css")
        meta(charset="utf-8")
        link(rel="favicon icon" href="/fav.png")
    body
        h1 Главная <br> страница
        block body
            // block body
                block - ключевое слово для связи шаблона с макетом
                body - любое, слово которое мы используем в качестве идефекатора для шаблона
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, modi.