body
  display flex
  justify-content center
  align-items center
  margin 0
  min-height 100vh
  flex-direction column
  h2 // body h2 {}
    color red
  &>h1 // body>h1
    color blue
  &:hover
    background-color antiquewhite